@import "theme";
/* You can add global styles to this file, and also import other style files */

.nav-active {
  background-color: mat-color($mat-blue-gray, 100) !important;
  color: mat-color($new-theme-accent) !important;
}

.nav-active mat-icon {
  color: mat-color($new-theme-accent) !important;
}


