<!-- example from
https://github.com/AngularTemplates/angular-forms-and-validations/blob/master/src/app/form-component/form.component.html
is potentially helpful and contributed to the shaping of this example -->
<div class="add-ride">
  <form [formGroup]="addRideForm">
    <h2 mat-dialog-title>New Ride</h2>
    <mat-dialog-content layout="column">
      <mat-form-field flex>
        <input matInput required #input id="vehicleField" placeholder="Vehicle" [(ngModel)]="data.ride.vehicle" formControlName="vehicle">
        <mat-error *ngFor="let validation of add_ride_validation_messages.vehicle">
          <mat-error class="error-message" id="vehicle-error"
                     *ngIf="addRideForm.get('vehicle').hasError(validation.type) && (addRideForm.get('vehicle').dirty || addRideForm.get('vehicle').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field flex>
        <input matInput required #input id="startField" placeholder="Start Location" [(ngModel)]="data.ride.start_location"
               formControlName="start_location">
        <mat-error *ngFor="let validation of add_ride_validation_messages.start_location">
          <mat-error class="error-message" id="start_location-error"
                     *ngIf="addRideForm.get('start_location').hasError(validation.type) && (addRideForm.get('start_location').dirty || addRideForm.get('start_location').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field flex>
        <input matInput required #input id="destinationField" placeholder="Destination" [(ngModel)]="data.ride.destination"
               formControlName="destination">
        <mat-error *ngFor="let validation of add_ride_validation_messages.destination">
          <mat-error class="error-message" id='destination-error'
                     *ngIf="addRideForm.get('destination').hasError(validation.type) && (addRideForm.get('destination').dirty || addRideForm.get('destination').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field flex>
        <input matInput required #input id="conditionField" placeholder="Condition" [(ngModel)]="data.ride.condition"
               formControlName="condition">
        <mat-error *ngFor="let validation of add_ride_validation_messages.condition">
          <mat-error class="error-message" id='condition-error'
                     *ngIf="addRideForm.get('condition').hasError(validation.type) && (addRideForm.get('condition').dirty || addRideForm.get('condition').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field flex>
      <input matInput required #input id="mileageField" type="number" placeholder="Mileage" [(ngModel)]="data.ride.mileage"
             formControlName="mileage">
      <mat-error *ngFor="let validation of add_ride_validation_messages.mileage">
        <mat-error class="error-message" id='mileage-error'
                   *ngIf="addRideForm.get('mileage').hasError(validation.type) && (addRideForm.get('mileage').dirty || addRideForm.get('mileage').touched)">
          {{validation.message}}
        </mat-error>
      </mat-error>
    </mat-form-field>
      <mat-form-field flex>
        <input matInput required #input id="taggingField" placeholder="Tagging" [(ngModel)]="data.ride.tags"
               formControlName="tagging">
        <mat-error *ngFor="let validation of add_ride_validation_messages.tagging">
          <mat-error class="error-message" id='tagging-error'
                     *ngIf="addRideForm.get('tagging').hasError(validation.type) && (addRideForm.get('tagging').dirty || addRideForm.get('tagging').touched)">
            {{validation.message}}
          </mat-error>
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions layout="row">
      <!-- [mat-dialog-close]="data.ride" causes the data.ride object to be returned when the dialog is closed. -->
      <button mat-raised-button id="confirmAddRideButton" [mat-dialog-close]="data.ride" type="button" color="primary"
              [disabled]="!addRideForm.valid">Add Ride
      </button>
      <!-- [mat-dialog-close]="null" causes null to be returned when the dialog is closed. -->
      <button mat-button id="exitWithoutAddingButton" [mat-dialog-close]="null" type="button">Cancel</button>
    </mat-dialog-actions>
  </form>
</div>

