#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 14px;
}

.cardlist  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rides {
  margin: 10px;
  flex-basis: 30%;
}

.mat-card>:first-child {
  margin: 10px;
}

.mat-card>:last-child:not(.mat-card-footer) {
  margin: 10px;
}
