<div class="background-div">
<mat-card style="max-width: 300px;">
  <mat-expansion-panel id="filter">
    <mat-expansion-panel-header>Filter</mat-expansion-panel-header>
    <mat-form-field>
      <input matInput id="rideVehicle" #input type="text" placeholder="Filter by vehicle"
             (input)="rideVehicle = $event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput id="rideMileage" #input type="number" placeholder="Filter by mileage"
             (input)="rideMileage = $event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput id="rideDestination" placeholder="Filter by destination"
             (input)="rideDestination = $event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput id="rideStartLocation" placeholder="Filter by start location"
             (input)="rideStartLocation = $event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput id="rideCondition" placeholder="Search for condition"
             (input)="rideCondition = $event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput id="rideTag" placeholder="Search for tag"
             (input)="rideTag = $event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput id="rideHasDriver" placeholder="Search if has driver"
             (input)="rideHasDriver = $event.target.value">
    </mat-form-field>


  </mat-expansion-panel>
</mat-card>

<div id="wrapper">


  <div class="riders">
    <div layout="column">
      <h2 id="title1">Rides</h2>
    </div>
    <div layout="column">

      <div class="cardlist" *ngIf="rides; else ridesError">
        <mat-accordion>
          <ng-container #elem class="rides"
                        *ngFor="let ride of this.filterRides(
                        rideVehicle, rideMileage, rideDestination, rideStartLocation, rideCondition, rideTag, rideHasDriver)">
            <mat-expansion-panel style="background-color: white; border-radius: 5px;">
              <mat-expansion-panel-header class="hasDriver"
                                          style="background-color: darkolivegreen">
                <mat-panel-title class="rideVehicle" [id]="ride.destination">{{ride.destination}}</mat-panel-title>
              </mat-expansion-panel-header>


              <mat-panel-description style="color: black">Start Location: {{ride.start_location}}</mat-panel-description>
              <mat-panel-description style="color: black">Vehicle: {{ride.vehicle}}</mat-panel-description>
              <mat-panel-description style="color: black">Mileage: {{ride.mileage}}</mat-panel-description>
              <mat-panel-description style="color: black">Condition: {{ride.condition}}</mat-panel-description>
              <mat-panel-description style="color: black">Tags: {{ride.tags}}</mat-panel-description>
              <mat-panel-description style="color: black">Has a driver: {{ride.hasDriver}} </mat-panel-description>

            </mat-expansion-panel>

          <mat-expansion-panel class="rideInfo">
            <mat-expansion-panel-header class="hasDriver"
                                        style="background-color: darkolivegreen">
              <mat-panel-title class="rideVehicle" [id]="ride.destination">{{ride.destination}}</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-panel-description style="color: black">Start Location: {{ride.start_location}}</mat-panel-description>
            <mat-panel-description style="color: black">Vehicle: {{ride.vehicle}}</mat-panel-description>
            <mat-panel-description style="color: black">Mileage: {{ride.mileage}}</mat-panel-description>
            <mat-panel-description style="color: black">Condition: {{ride.condition}}</mat-panel-description>
            <mat-panel-description style="color: black">Tags: {{ride.tags}}</mat-panel-description>
            <mat-panel-description style="color: black">Has a driver: {{ride.hasDriver}} </mat-panel-description>
          </mat-expansion-panel>
          </ng-container>
        </mat-accordion>
      </div>
      <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
      <ng-template #ridesError>
        <mat-error>
          There was a problem loading the rides. Possibly the server is down or perhaps there are network
          issues.
        </mat-error>
        <mat-error>
          Please wait a bit and try again or start the server.
        </mat-error>
      </ng-template>
    </div>
  </div>
</div>

<button mat-fab id="addNewRide" class="add-fab" matTooltip="New Ride" matTooltipPosition="left"
        (click)="openDialog()">
  <mat-icon class="md-24" aria-label="New Ride">add</mat-icon>
</button>
</div>
