<mat-card style="max-width: 300px;">
  <mat-expansion-panel>
    <mat-expansion-panel-header>Filter</mat-expansion-panel-header>
    <mat-form-field>
      <input matInput id="rideVehicle" #input type="text" placeholder="Filter by vehicle"
             (input)="rideVehicle = $event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput id="rideMileage" #input type="number" placeholder="Filter by mileage"
             (input)="rideMileage = $event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput id="rideDestination" #input type="text" placeholder="Filter by destination"
             (input)="rideDestination = $event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput id="rideStartLocation" #input type="text" placeholder="Filter by start location"
             (input)="rideStartLocation = $event.target.value">
    </mat-form-field>
    <mat-form-field>
      <input matInput id="rideCondition" #input type="search" placeholder="Search for condition"
             (input)="rideCondition = $event.target.value">
    </mat-form-field>
  </mat-expansion-panel>
</mat-card>

<div layout="row" layout-align="" style="margin-left: 8px; max-width: 50%">
  <div flex-gt-xs="80" flex-xs="90">
    <div layout="column">
      <h2>Rides</h2>
    </div>
    <div layout="column">


      <div class="cardlist" *ngIf="rides; else ridesError">
        <mat-accordion>
          <mat-expansion-panel #elem class="rides" [id]="ride.start_location"
                               *ngFor="let ride of this.filterRides(rideVehicle, rideMileage, rideDestination, rideStartLocation, rideCondition)">
            <mat-expansion-panel-header>
              <mat-panel-title class="rideVehicle" [id]="ride.destination">{{ride.destination}}</mat-panel-title>
            </mat-expansion-panel-header>

            <mat-panel-description>Start Location: {{ride.start_location}}</mat-panel-description>
            <mat-panel-description>Vehicle: {{ride.vehicle}}</mat-panel-description>
            <mat-panel-description>Mileage: {{ride.mileage}}</mat-panel-description>
            <mat-panel-description>Condition: {{ride.condition}}</mat-panel-description>
            <button mat-button id="editRide" type="button"
                    (click)="openEditDialog(ride._id, ride.vehicle, ride.mileage, ride.start_location,
                    ride.destination, ride.condition)">Edit</button>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
      <ng-template #ridesError>
        <mat-error>
          There was a problem loading the rides. Possibly the server is down or perhaps there are network
          issues.
        </mat-error>
        <mat-error>
          Please wait a bit and try again or start the server.
        </mat-error>
      </ng-template>


    </div>

  </div>

</div>

<button mat-fab id="addNewRide" class="add-fab" matTooltip="New Ride" matTooltipPosition="left"
        (click)="openDialog()">
  <mat-icon class="md-24" aria-label="New Ride">add</mat-icon>
</button>
