.add-fab {
  position: fixed;
  bottom: 15px;
  right: 30px;
}


.cardlist mat-panel-description {
  margin-top: 5%;
}
.cardlist button {
  background-color: #0ca8f4;
  margin-top: 3%;
}

@media only screen and (max-width: 414px) {
  #wrapper {
    display: flex;
    flex-direction: column;
  }

  .riders {
    margin-left: 5%;
    width: 90%;
    text-align: center;
  }
}

@media only screen and (min-width: 415px) {


  .riders {
    width: 30%;
    text-align: center;
    margin-left: 35%;
    margin-bottom: 10%;
  }

  .riders .mat-expansion-panel-header {
    text-align: center;
  }

  #wrapper {

  }

  #editRide {
    align-self: right;
  }

  .cardlist mat-expansion-panel-content.mat-expanded {
    text-align: right;
  }

  #filter {
    position: fixed;
    margin-right: 75%;
  }
}
