<div>
  <button id="addNewRide" mat-raised-button (click)="openDialog()">Add New Ride</button>
</div>


<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="ride-list-title">Rides</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-form-field>
          <input matInput id="rideVehicle" #input type="text" placeholder="Filter by vehicle"
                 (input)="rideVehicle = $event.target.value">
        </mat-form-field>
        <mat-form-field>
          <input matInput id="rideMileage" #input type="number" placeholder="Filter by mileage"
                 (input)="rideMileage = $event.target.value">
        </mat-form-field>
        <mat-form-field>
          <input matInput id="rideCondition" #input type="search" placeholder="Search for condition"
                 [(ngModel)]="rideCondition"/>
          <button mat-button id="conditionClearSearch" type="button" *ngIf="rideCondition" matSuffix mat-icon-button
                  aria-label="clear" (click)="rideCondition='';loadService()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button id="submit" color="primary" #input type="button" (click)="loadService()">Submit
        </button>

        <div class="cardlist" *ngIf="rides; else ridesError">
          <mat-card #elem class="rides" [id]="ride.start_location"
                    *ngFor="let ride of this.filterRides(rideVehicle, rideMileage, rideCondition)">
            <mat-card-header>
              <mat-card-title class="rideVehicle" [id]="ride.vehicle">{{ride.vehicle}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{ride.start_location}}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
        <ng-template #ridesError>
          <mat-error>
            There was a problem loading the rides. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
