<div layout-gt-sm="row">
  <div class="cardlist">
    <mat-card class="matCard1">
      <mat-card-title id="firstTitle">{{ this.text }}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content class="cardContent1">
        To get started login or setup a new account
      </mat-card-content>
    </mat-card>
    <div class="buttonContainer">
    <!--<button class="loginButton" (click)="openDialog()"> Login </button>-->
      <div class="g-signin2" data-onsuccess="onSignIn" onclick="signIn()"></div>
      <button class="signUpButton" onclick="window.location='http://gmail.com'"> Sign Up</button>
  </div>
  </div>

</div>
