.cardlist {
  display: flex;
  flex-direction: column;
  justify-content: right;
  background-image: linear-gradient(transparent, green);
  width: 100%;
  height: 1500px;
}
.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.mat-card{
  margin-top: 10%;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  background-color: #bbe043;
}

#firstTitle {
  background-color: #bbe043;
  text-align: center;
  font-size: 4em;

}

.cardContent1 {
  font-size: 2em;
  text-align: center;

}

.loginButton{
  padding: 1%;
  width: 20%;
  background-color: #85a323;
}
.signUpButton{
  padding: 1%;
  width: 20%;
  background-color: #85a323;
}

@media only screen and (min-device-width: 900px){
  .loginButton{
    width: 15%;
  }
  .signUpButton{
    width: 15%;
  }
}


@media only screen and (min-device-width: 1000px){
  .loginButton{
    width: 10%;
  }
  .signUpButton{
    width: 10%;
  }
}
