.cardlist {
  margin-right: auto;
  margin-left: auto;

}

.mat-card{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 35em;
  background-color: #757575;
}

#firstTitle {
  background-color: #757575;
  text-align: center;
  font-size: 4em;

}

.cardContent1 {
  font-size: 2em;
  text-align: center;

}

