/*.cardlist {*/
  /*margin-top: 20%;*/
  /*background-color: #0ca8f4;*/
  /*text-align: center;*/
  /*size: 48pt;*/
/*}*/

.mat-card{
  margin-top: 20%;
  background-color: #2e4057;
  text-align: center;
  size: 48pt;
}

#firstTitle {
  background-color: #293a4e;
  text-align: center;
  size: 48pt;

}

