<div layout-gt-sm="row">
  <div class="cardlist">
    <mat-card class="matCard1">
      <mat-card-title id="firstTitle">{{ this.text }}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content class="cardContent1">
        To get started login or setup a new account
      </mat-card-content>
    </mat-card>
    <button class="loginButton" matTooltip="Login" matTooltipPosition="below"
            (click)="openDialog()">login
      <!--<mat-icon class="loginButtonText"></mat-icon>-->
    </button>

  </div>

</div>
