.matCard1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: limegreen;

}
.cardlist {

}

#title {

  background-color: #0ca8f4;
}

.cardTitle {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.info {
  background-color: #009999;
}

.profileMain {
  background-image: linear-gradient(green, transparent);
  text-align: center;
  height: 600px;

}
