<div class="profileMain" layout-gt-sm="row">
  <div class="cardTitle">
    <mat-card class="matCard1">
      <mat-card-title id="firstTitle">{{ this.text }}
      <mat-card-content id="cardcontent">
      <div> Name is: {{this.name}}

      </div>
      </mat-card-content>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <div class="Info">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header id="info">
              <mat-panel-title class="infoTitle">Info</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="infoContainer">
            <mat-panel-description>My Phone Number: {{this.phone}}</mat-panel-description>
            <mat-panel-description>My Email: {{this.email}}</mat-panel-description>
            <mat-panel-description>My Vehicle: {{this.vehicle}}</mat-panel-description>
            <mat-panel-description>Vehicle Condition: {{this.condition}}</mat-panel-description>
            <mat-panel-description>Description about me: {{this.tags}}</mat-panel-description>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </mat-card>
  </div>
</div>
