<div>
  <button id="addNewUser" mat-raised-button (click)="openDialog()">Add New Profile</button>
</div>

<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="user-list-title">Users</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-form-field>
          <input matInput id="userName" #input type="text" placeholder="Filter by name"
                 (input)="userName = $event.target.value">
        </mat-form-field>

        <div class="cardlist" *ngIf="users; else usersError">
          <mat-card #elem class="users" [id]="user.email"
                    *ngFor="let user of this.filterUsers(userName)">
            <mat-card-header>
              <mat-card-title class="userName" [id]="user.name">{{user.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{user.vehicle}}
              </p>
              <p>
                {{user.email}}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
        <ng-template #usersError>
          <mat-error>
            There was a problem loading the users. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
