#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 14px;
}

.users {
  flex-basis: 20%;
}

mat-panel-description {
  margin-top: 3px;
}

.cardlist {
  position: absolute;
  left: 25%;
  top:10%;
  width: 50%;
}

.add-fab {
  position: fixed;
  bottom: 15px;
  right: 30px;
}

.cardlist mat-panel-description {
  margin-top: 15px;
}

.cardlist mat-panel-title {

}

