<head>
  <script type="javascript">
    function myFunction2() {
      console.log("fuck you html");
    }
  </script>

  <script lang="javascript">
    gapi.load()
    $('#signinButton').click(function() {
      // signInCallback defined in step 6.
      auth2.grantOfflineAccess().then(signInCallback);
    });
  </script>

</head>

<body>

<div *ngIf="!appService.isSignedIn()" class="g-signin2" (click)="signIn() "></div>

<!--<script type="typescript">-->
  <!--var test;-->
  <!--test = getUsers("erg");-->
  <!--storeData(string2: string): void;-->

   <!--status = localStorage.setItem('isSignedIn');-->
  <!--}-->
<!--</script>-->

<script>
  function myFunction1() {
    console.log("the thing worked");
  }
</script>

<div *ngIf="!appService.isSignedIn(); then myFunction1 else elseBlock1"></div>
<ng-template #thenBlock1>You are logged in.</ng-template>
<ng-template #elseBlock1>You are logged out.</ng-template>





<h1>A Web Page</h1>
<p id="demo">A Paragraph</p>
<button type="button" onclick="myFunction2()">Try it</button>

</body>
